pytest>=7.0.0
coverage>=4.3
flake8>=3.2
tox>=2.7.0
pytest-xdist
setuptools
twine
cryptography>=46.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.20.0 # not directly required, pinned by Snyk to avoid a vulnerability
